<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/2e901b02-6d9d-49f6-8e0f-8d49aa42ff5a/resourceGroups/CCWebApiV2/providers/Microsoft.ContainerRegistry/registries/CCWebApiV2ContainerRegistry</ResourceId>
    <ResourceName>CCWebApiV2ContainerRegistry</ResourceName>
    <ResourceGroup>CCWebApiV2</ResourceGroup>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <RegistryUrl>ccwebapiv2containerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>8fee1428-236a-41d7-a711-a2f89a55b8d1</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>