<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2e901b02-6d9d-49f6-8e0f-8d49aa42ff5a/resourcegroups/DatabaseGroup/providers/Microsoft.Web/sites/CCProductPoolService</ResourceId>
    <ResourceGroup>DatabaseGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/2e901b02-6d9d-49f6-8e0f-8d49aa42ff5a/resourceGroups/DatabaseGroup/providers/Microsoft.ApiManagement/service/ApiGatewayNorthwindApi/apis/CCProductPoolService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ccproductpoolservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>40435db3-4c6c-4057-b450-93bb8afd483e</ProjectGuid>
    <MSDeployServiceURL>ccproductpoolservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CCProductPoolService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CCProductPoolService</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>